<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/style.css">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>TO DO LIST</title>
</head>
<body>
  <div class="box">
    <h1>ToDo List</h1>
  </div>

  <div class="box">
    <% dayej.forEach(function(item){ %> 
      <!-- Delete Form -->
      <form action="/delete/<%= item._id %>?_method=DELETE" method="POST" class="item">
        <input type="checkbox" onchange="this.form.submit()" />
        <p><%= item.name %></p>
      </form>

      <!-- Update Form -->
      <form action="/update/<%= item._id %>?_method=PUT" method="POST" class="item">
        <input type="text" name="updatedName" value="<%= item.name %>" required />
        <button type="submit">Update</button>
      </form>
    <% }) %>

    <!-- Add Task Form -->
    <form action="/" method="POST">
      <input type="text" name="ele1" placeholder="Enter the Task" required />
      <button type="submit">+</button>
    </form>
  </div>
</body>
</html>
